$space-1: 0.5rem;
$space-2: 1rem;
$space-3: 2rem;

$color-text: rgb(29, 29, 29);
$color-background: rgb(255, 255, 255);

$color-primary: rgb(16, 147, 203);
$color-secondary: rgb(0, 255, 170);
$color-tertiary: rgb(255, 255, 255);

$color-background-game: red;

$color-state-default: rgb(231, 231, 231);
$color-state-danger: rgb(247, 101, 101);
$color-state-warning: rgb(255, 174, 0);
$color-state-success: rgb(160, 255, 70);
